<nav class="main-menu"><ul>
    <li>
        <a href="https://www.github.com/paperElectron">Github</a>
    </li>
    <li>
        <a href="https://www.twitter.com/paperElectron">Twitter</a>
    </li>
    <li>
        <a href="http://build.paperelectron.com/paperElectron">Jenkins</a>
    </li>
    {{! Add there all your static pages}}
</ul></nav>
