<nav class="main-menu"><ul>
    <li>
     <a class="twitter" href="https://www.twitter.com/paperElectron"><span>@paperElectron</span></a>
    </li>
    {{! Add there all your static pages}}
</ul></nav>
